<div class="">
  <%= image_tag "fly-contests-inspiration.jpg" , class: 'img-thumbnail no-border h-60'%>
</div>

<div id="accordion">

  <% @contests.each do |contest| %>

    <div class="card mt-4">
      <div class="card-header" id="heading<%= contest.id %>">
        <div class="col-12 d-flex">

          <span class="col-12 flex-fill text-left mb-0" data-toggle="collapse" data-target="#collapse<%= contest.id %>" aria-expanded="true" aria-controls="collapseOne">
            <%= contest.name %>
          </span>

          <span class="col-6 flex-fill text-right mb-0">
            <%= link_to "Contest Rules", "/rules.pdf" %>
          </span>

        </div>
      </div>

      <div id="collapse<%= contest.id %>" class="collapse show" aria-labelledby="heading<%= contest.id %>" data-parent="#accordion">
        <div class="card-body">
          <% contest.questions.each do |question|%>

          <div class="container">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#home<%= question.id %>">Solve</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu<%= question.id %>">Hints</a>
              </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content text-center">
              <div id="home<%= question.id %>" class="container tab-pane active"><br>
                <h3><%= question.question %></h3>
                <%= form_with(model: Entry.new, local: true) do |form| %>

                  <%= form.hidden_field :question_id, value: question.id %>

                  <div class="form-group">
                    <%= form.text_field :answer, placeholder: "answer here", class: 'form-control' %>
                  </div>

                  <div class="actions">
                    <%= form.submit "Submit", class: 'btn btn-primary'%>
                  </div>

                <% end %>
              </div>
              <div id="menu<%= question.id %>" class="container tab-pane fade"><br>
                <p><%= question.instructions %></p>
              </div>
            </div>
          </div>

          <% end %>
        </div>
      </div>
    </div>

  <% end %>
</div>
