.devise-dialog-wrapper
  .modal-dialog.devise-dialog
    .modal-content.window-shadow
      .modal-header
        %h1.text-center.font-shadow.fw-br Log In
      .modal-body
        .mx-auto
          .col-xs-12
            = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
              = devise_error_messages!
              .form-group
                = f.email_field :email, autofocus: true, :required => true, class: "form-control input-block", placeholder: "Your email"
              .form-group
                = f.password_field :password,:required => true, autocomplete: "off", class: "form-control", placeholder: "Your password"
              - if devise_mapping.rememberable?
                .form-group
                  .checkbox
                    = f.check_box :remember_me, class: 'ml0'
                    = f.label :remember_me
              .form-group
                = f.submit "Log in", class: "btn btn-primary btn-block btn-lg"
              = render "devise/shared/links"
